## BepInEx settings needed by Dig or Die.
## BepInEx adds all other settings with default values on the first launch.

[Preloader.Entrypoint]

## Dig or Die needs BepInEx to start from MonoBehaviour instead of the default Application.
Assembly = UnityEngine.dll
Type = MonoBehaviour
Method = .cctor
